GASFREE_NILE_API_KEY=
GASFREE_NILE_API_SECRET=
GASFREE_NILE_SERVICE_PROVIDER=

GASFREE_MAINNET_API_KEY=
GASFREE_MAINNET_API_SECRET=
GASFREE_MAINNET_SERVICE_PROVIDER=

TEST_SEED_A=
TEST_SEED_B=
TEST_PAYMENT_AMOUNT=100000
